@font-face {
	font-family: "myFont";
	src: url("font.TTF") format("opentype");
}

#myCanvas{
	background: url(fundo.png);
	border-right: 6px solid black;
	border-top: 6px solid black;
	border-bottom: 6px solid black;
	float: left;
}
#bdy{
	background-color:#c5c5c5;	
}
#wrapper{
	width:1136px;
	height:612px;
	margin:0 auto;
}
#tempo{
	width:150px;
	height:100px;
	border-right: 6px solid black;
	border-left: 6px solid black;
	border-top: 6px solid black;
	border-bottom: 3px solid black;
	font-family: myFont;
	color: #FFF;
	font-size: 80px;
	text-align: center;
}
#pontosW{
	width:150px;
	height:100px;
	border-right: 6px solid black;
	border-left: 6px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
#draw{
	width:150px;
	height:30px;
	font-family: myFont;
	color: #FFF;
	margin-top:10px;	
	font-size: 30px;
	text-align: center;
}
#score{
	width:150px;
	height:30px;
	font-family: myFont;
	color: #FFF;
	margin-top:10px;
	font-size: 30px;
	text-align: center;
}
#gameon{
	width:150px;
	height:30px;
	font-family: myFont;
	color: #FFF;
	margin-top:10px;
	font-size: 30px;
	text-align: center;
}

#pontos{
	width:150px;
	height:36px;
	font-family: myFont;
	color: #ffe71f;
	margin-top:10px;
	font-size: 36px;
	text-align: center;
}
#txt{
	margin-top:15px;
}
#canvasFigura{
	margin-left: 12.5px;
}
#figura{
	width: 150px;
	height: 175px;
	border-right: 6px solid black;
	border-left: 6px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
#left{
	width: 162px;
	height: 612px;
	background: url(LeftBar.png);
	float: left;
}
#right{
	width: 162px;
	height: 600px;
	background: url(LeftBar.png);
	border-right: 6px solid black;
	border-top: 6px solid black;
	border-bottom: 6px solid black;
	float: right;
}
#qrw{
	width:150px;
	height:207px;
	border-right: 6px solid black;
	border-left: 6px solid black;
	border-top: 3px solid black;
	border-bottom: 6px solid black;
}
#logo{
	margin-top:50px;
	margin-bottom:50px;
}
#ipvc{
	margin-top:20px;
}
#qr{
	margin: 10px;
}
